<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Rewindr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1 class="heading">Rewindr.</h1>
    <div class="about-fr">
        <p>Well, it's about time I learn how to make a web-application.... INTRODUCING **REWINDR** ehm- welp this didn't bold itself.. umm yeah- so this is nowhere as it should be- ANYWAYSSSS..<br>"REALEST" About Rewindr:\n (kms) It's a productivity app designed for focus purposes, a pomodoro web-app created with love and care! (and a lot of experimentation :poison_emoji:)</p>
    </div>
    </body>
</html>